.tr.td {
    border: none;
}

table{
    background-color: black;
    color: white;
    font-family: 'Gotham';
    font-size: 18px;
}

.menu-holder {
    background-color: black;
    padding: 10px;
}
 
tr{
    cursor: pointer;
    border-color: black;
}

tr:hover{
    background-color: black;
}
.table-hover>tbody>tr:hover {
    background-color: #333333;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: black;
}
td.addToCart {
    width: 10px;
  }
.shopping-cart {
    padding: 10px;
    color: white;
}
.button-ml{
    margin-left: 20px;
}
.grid {
    display: grid;
}
.center {
    text-align: center;
}
.mt-5 {
    margin-top: 5px;
}